{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter de nouvelle boutique{% endblock %}

{% set menu_bout = true %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('modernize/libs/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block body %}
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
          <div class="row align-items-center">
            <div class="col-9">
              <h4 class="fw-semibold mb-8">Boutiques</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-muted" href="javascript:void(0)">Boutique</a></li>
                  {# <li class="breadcrumb-item"><a class="text-muted" href="{{ path('liste_boutique')}}">Liste</a></li> #}
                  <li class="breadcrumb-item active" aria-current="page">Ajout</li>
                </ol>
              </nav>
            </div>
            {# <div class="col-3">
              <div class="text-center mb-n5">  
                <img src="{{ asset('modernize/images/logos/favicon.svg') }}" alt="" class="img-fluid mb-n4">
              </div>
            </div> #}
          </div>
        </div>
    </div>
    
{{ form_start(form)}}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <div class="row mb-4">
                        {# <div class="col-md-4">{{ form_row(form.code, {'attr':{'class':'form-control'} }) }}</div> #}
                        <div class="col-md-4">{{ form_row(form.nRcs, {'attr':{'class':'form-control'} }) }}</div>
                        <div class="col-md-4">{{ form_row(form.numMobile, {'attr':{'class':'form-control'} }) }}</div>
                        <div class="col-md-4">{{ form_row(form.facturation) }}</div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">{{ form_row(form.nom, {'attr':{'class':'form-control'} }) }}</div>
                        <div class="col-md-6">{{ form_row(form.codePost, {'attr':{'class':'form-control'} }) }}</div>
                        {# ----- #}
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">{{ form_row(form.email, {'attr':{'class':'form-control'} }) }}</div>
                        <div class="col-md-6">{{ form_row(form.adresse, {'attr':{'class':'form-control'} }) }}</div>
                        {# ----- #}
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">{{ form_row(form.ville, {'attr':{'class':'form-control'} }) }}</div>
                        <div class="col-md-6">{{ form_row(form.pays) }}</div>                        
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">{{ form_row(form.cinGerant, {'attr':{'class':'form-control'} }) }}</div>                       
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6 text-center">
                            <p class="card-subtitle mb-4">Kbis (Image/PDF)</p>
                                {% set userKbis = 'modernize/images/logos/uploadFile.png' %}
                                <img id="img_prev" src="{{ asset(userKbis) }}" alt="" class="img-fluid " width="120" height="120">
                                <div class="my-4 gap-3">
                                    {{ form_row(form.preuveCabis, {'attr':{'class':'form-control'} }) }}
                                </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="card-subtitle mb-4">Pièce d'identité (Image/PDF)</p>
                                {% set userIdentity = 'modernize/images/logos/uploadFile.png' %}
                                <img id="img_prev_identity" src="{{ asset(userIdentity) }}" alt="" class="img-fluid " width="120" height="120">
                                <div class="my-4 gap-3">
                                    {{ form_row(form.pieceIdentity, {'attr':{'class':'form-control'} }) }}
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="id-is-mdp">
                                    Ajouter un caissier
                                </label>
                                <input class="form-check-input js-switch" type="checkbox" id="id-is-mdp"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 kl-security d-none">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <label for="id-nom" class="form-label fw-semibold">Nom</label>
                                <input type="text" class="form-control" id="id-nom" name="name_user" required="required" placeholder="Nom du Gérant...">
                            </div>
                            <div class="mb-4">
                                <label for="id-email" class="form-label fw-semibold">Email</label>
                                <input type="text" class="form-control" id="id-email" name="email_user" required="required" placeholder="Adresse email...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <label for="user_Password" class="form-label fw-semibold">Mot de passe</label>
                                <input type="password" class="form-control" id="user_Password" name="mdp" minlength="6" required="required" placeholder="Tapez le nouveau mot de passe...">
                            </div>
                            <div class="mb-4">
                                <label for="confirm_Password" class="form-label fw-semibold">Confirmer le mot de passe</label>
                                <input type="password" class="form-control" id="confirm_Password" name="conf_mdp" minlength="6" required="required" placeholder="Confirmez le nouveau mot de passe...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-end mt-4 gap-3">
                <button class="btn btn-primary">Ajouter</button>
                <a href="{{ path('liste_admin')}}" class="btn btn-light-danger text-danger">Annuler</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('modernize/libs/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('modernize/libs/select2/dist/js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function(){

            /* Image cabis */
            const inputPicture = document.getElementById("bout_preuveCabis");
            const img_prev = document.getElementById("img_prev");
            const imgSrc = img_prev.getAttribute("src");

            inputPicture.addEventListener('change', function(){
                const fichier_categorie = this.files[0];
                if (fichier_categorie) {
                    const read_file_cate = new FileReader();
                    const type_file = fichier_categorie.type;

                    read_file_cate.addEventListener("load", function(){
                        switch (type_file) {
                            case 'application/pdf':
                                img_prev.setAttribute("src", "{{ asset('modernize/images/logos/filePdf.png') }}");
                                break;
                            default:
                                img_prev.setAttribute("src", this.result);
                                break;
                        }
                    });

                    read_file_cate.readAsDataURL(fichier_categorie);
                } else {
                    img_prev.setAttribute("src", imgSrc);
                }
            });

            /* Image identity */
            const inputIdentity = document.getElementById("bout_pieceIdentity");
            const img_prev_identity = document.getElementById("img_prev_identity");
            const imgSrcIdentity = img_prev_identity.getAttribute("src");

            inputIdentity.addEventListener('change', function(){
                const fichier_identity = this.files[0];
                if (fichier_identity) {
                    const read_file_cate = new FileReader();
                    const type_file = fichier_identity.type;

                    read_file_cate.addEventListener("load", function(){
                        switch (type_file) {
                            case 'application/pdf':
                                img_prev_identity.setAttribute("src", "{{ asset('modernize/images/logos/filePdf.png') }}");
                                break;
                            default:
                                img_prev_identity.setAttribute("src", this.result);
                                break;
                        }
                    });

                    read_file_cate.readAsDataURL(fichier_identity);
                } else {
                    img_prev_identity.setAttribute("src", img_prev_identity);
                }
            });

            $(".chosen-select").select2();

            $('#id-nom').attr('required', false);
            $('#id-email').attr('required', false);
            $('#user_Password').attr('required', false);
            $('#confirm_Password').attr('required', false);

            $(document).on('change','.js-switch', function(e) {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'true');
                }
                else {
                   $(this).attr('value', 'false');
                }

                var check = $(this).val(); 
                (check === 'false') ? $('.kl-security').addClass('d-none') : $('.kl-security').removeClass('d-none');
                (check === 'false') ? $('#user_Password').attr('required', false) : $('#user_Password').attr('required', true); 
                (check === 'false') ? $('#confirm_Password').attr('required', false) : $('#confirm_Password').attr('required', true); 
                (check === 'false') ? $('#user_Password').val('') : '';
                (check === 'false') ? $('#confirm_Password').val('') : '';

                (check === 'false') ? $('#id-nom').attr('required', false) : $('#id-nom').attr('required', true); 
                (check === 'false') ? $('#id-email').attr('required', false) : $('#id-email').attr('required', true); 
                (check === 'false') ? $('#id-nom').val('') : '';
                (check === 'false') ? $('#id-email').val('') : '';
            });
        });
    </script>
{% endblock %}