<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Yorsil | {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('plugins/inspinia/logo/logo.jpeg') }}">

    {% block stylesheets %}
        <link  id="themeColors"  rel="stylesheet" href="{{ asset('modernize/css/style.min.css') }}" />
    {% endblock %}
</head>

<body>
    <div class="preloader"><img src="{{ asset('modernize/images/logos/favicon.svg') }}" alt="loader" class="lds-ripple img-fluid" /></div>

    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        
        {{ include('partials_back/sidebar.html.twig') }}

        <div class="body-wrapper">
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="d-none kl-flash-message" data-type="{{ label }}" data-message="{{ message }}"></div>
                {% endfor %}
            {% endfor %}

            {{ include('partials_back/header.html.twig') }}

            <div class="container-fluid">
                {% block body %} {% endblock %}
            </div>
        </div>

    </div>

    {% block javascripts %}
        <script src="{{ asset('modernize/libs/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('modernize/libs/simplebar/dist/simplebar.min.js') }}"></script>
        <script src="{{ asset('modernize/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('modernize/js/app.min.js') }}"></script>
        <script src="{{ asset('modernize/js/app.init.js') }}"></script>
        <script src="{{ asset('modernize/js/app-style-switcher.js') }}"></script>
        <script src="{{ asset('modernize/js/sidebarmenu.js') }}"></script>
        <script src="{{ asset('modernize/js/custom.js') }}"></script>
        <script src="{{ asset('modernize/libs/owl.carousel/dist/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('modernize/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
        <script src="{{ asset('modernize/js/dashboard.js') }}"></script>
    {% endblock %}
</body>

</html>