{% extends 'base_admin.html.twig' %}

{% block title %}Modification d'une type d'offre{% endblock %}

{% set menu_type_offres = true %}

{% block body %}

    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
          <div class="row align-items-center">
            <div class="col-9">
              <h4 class="fw-semibold mb-8">Type d'offre</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-muted" href="javascript:void(0)">Type d'offres</a></li>
                  <li class="breadcrumb-item"><a class="text-muted" href="{{ path('type_offres')}}">Liste</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Modifier</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
    </div>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row mb-4">
                            <div class="col md-4">{{ form_row(form.nom) }}</div>
                        </div>
                        <div class="row mb-4">
                            <div class="col md-6">{{ form_row(form.operateur) }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-end gap-3">
                    <button class="btn btn-primary">Modifier</button>
                    <a href="{{ path('type_offres')}}" class="btn btn-danger">Annuler</a>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
                   

{% endblock %}
