{% extends 'base_admin.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% set menu_admin_list = true %}

{% block body %}
    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Liste des utilisateurs</h4>
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted" href="javascript:void(0)">Utilisateurs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste des utilisateurs</li>
                    </ol>
                    </nav>
                </div>
                {# <div class="col-3">
                    <div class="text-center mb-n5">  
                        <img src="{{ asset('modernize/images/logos/favicon.svg') }}" alt="" class="img-fluid mb-n4">
                    </div>
                </div> 
                <div class="col-lg-2 text-right">
                    <h3 class="mt-4"><strong>Type d'affichage</strong></h3>
                    <button class="btn btn-primary dim kl-btn-list" type="button"><i class="fa fa-list"></i></button>
                    <button class="btn btn-info dim kl-btn-box" type="button"><i class="fa fa-table"></i> </button>
                </div> #}
            </div>
        </div>
    </div>

    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <div class="mb-2">
                                <a id="ajout_admin" href="{{ path('ajout_user') }}" class="btn btn-primary mb-2">
                                    <i class="ti ti-plus fs-4"></i> Ajouter un utilisateur
                                </a>
                            </div>
                        {% endif %}
                        <div class="table-responsive">
                            <table id="tableUserListe" class="table border table-striped table-bordered display text-nowrap">
                                <thead>
                                    <tr>
                                        <td>Numéro de compte</td>
                                        <td>Nom</td>
                                        <td>Prénom(s)</td>
                                        <td>Téléphone</td>
                                        <td>Email</td>
                                        <td>Adresse IP</td>
                                        <td>Dernière connexion</td>
                                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                                        <td class="text-center">Action</td>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.numCom }}</td>
                                            <td>{{ user.nom }}</td>
                                            <td>{{ user.prenom }}</td>
                                            <td>{{ user.tel }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{(user.ipAdress) ? user.ipAdress : ''}}</td>
                                            <td>{{ (user.dateLastLogin) ? user.dateLastLogin|date('d-m-Y H:i') : ''}}</td>
                                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                <td class="text-center">
                                                    {# <button class="btn btn-success dim btn-sm" type="button">
                                                        <a href="{{path('edit_admin',{id:user.id}) }}">
                                                            <i class="fa fa-upload"></i>
                                                        </a>
                                                    </button> #}
                                                    <a class="btn btn-info dim btn-sm" type="button" href="{{path('edit_admin',{id:user.id}) }}">
                                                        <i data-toggle="tooltip" data-original-title="Modifier" class="fa fa-edit text-white"></i>
                                                    </a>
                                                    <a class="btn btn-danger dim btn-sm delete" type="button" data-href="{{ path('admin_delete',{id:user.id}) }}">
                                                        <i data-toggle="tooltip" data-original-title="Supprimer" class="fa fa-trash text-white"></i>
                                                    </a>
                                                    {# <a href="{{ path('edit_admin',{id:user.id}) }}">
                                                        <i data-toggle="tooltip" data-original-title="Modifier" class="fas fa-edit text-info"></i>
                                                    </a>
                                                    <a href="{{ path('user_delete',{id:user.id}) }}" class="btn btn-user-times text-danger rounded-0"
                                                        onclick="return confirm('Est-ce que vous voulez vraiment supprimer cet administrateur');">
                                                        <i data-toggle="tooltip" data-original-title="Supprimer" class="fa fa-trash"></i>
                                                    </a> #}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#tableUserListe').DataTable({
            language: { "url": global_utils.urls.datatable_fr }
        });
    </script>
{% endblock %}