{% extends 'base_admin.html.twig' %}

{% set menu_dashboard = true %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row">
        {# <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card w-100 bg-light-success overflow-hidden">
            <div class="card-body py-3">
              <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                  <img src="{{ asset('modernize/images/logos/fahana.svg')}}" width="130" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div> #}
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="card w-100 bg-light-primary">
            <div class="card-body text-center d-flex flex-column align-items-center justify-content-center gap-2">
              <p class="fw-semibold fs-4 mb-1 text-uppercase">Solde</p>
              <h5 class="fw-semibold m-0">{{ solde | number_format(2, ',', ' ') }} &euro;</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="card w-100 bg-light-danger">
            <div class="card-body text-center d-flex flex-column align-items-center justify-content-center gap-2">
              <p class="fw-semibold fs-4 mb-1 text-uppercase">Seuil</p>
              <h5 class="fw-semibold m-0">{{ seuil | number_format(2, ',', ' ') }} &euro;</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="card w-100 bg-light-warning">
            <div class="card-body text-center d-flex flex-column align-items-center justify-content-center gap-2">
              <p class="fw-semibold fs-4 mb-1 text-uppercase">Rechargement</p>
              <h5 class="fw-semibold m-0">{{ rechargement | number_format(2, ',', ' ') }} &euro;</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="card w-100 bg-light-primary">
            <div class="card-body text-center d-flex flex-column align-items-center justify-content-center gap-2">
              <p class="fw-semibold fs-4 mb-1 text-uppercase">Dépôt</p>
              <h5 class="fw-semibold mb-0">{{ depot | number_format(2, ',', ' ') }} &euro;</h5>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
