{% set extendss = (app.user.roles[0] == 'ROLE_BOUT') ? 'base_front.html.twig' : 'base_admin.html.twig' %}

{% extends extendss %}
    
{% block title %}Modification de mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        img.img-profil {
            width: 120px;
            height: 120px;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Paramétrage du compte</h4>
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">Modification de mot de passe</li>
                    </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab" tabindex="0">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="card w-100 position-relative overflow-hidden">
                                <div class="card w-100 position-relative overflow-hidden">
                                    <div class="card-body p-4">
                                        <h5 class="card-title fw-semibold">Changer le mot de passe</h5>
                                        <p class="card-subtitle mb-4">Pour changer votre mot de passe, veuillez cliquer ici</p>
                                        <div class="mb-4">
                                            {{ form_row(form.oldPassword) }}
                                        </div>
                                        <div class="mb-4">
                                            {{ form_row(form.newPassword) }}
                                        </div>
                                        <div class="">
                                            {{ form_row(form.comfirmPassword) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="d-flex align-items-center justify-content-end gap-3">
                                <button class="btn btn-primary">Modifier</button>
                                <a href="{{path('edit_my_profil')}}" class="btn btn-light-danger text-danger">Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}