{% extends 'base_admin.html.twig' %}

{% set menu_journal = true %}
{% set menu_paiement = true %}

{% block title %} Journal | Paiement de facture {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .disabled-link {
            pointer-events: none;  /* Désactive les interactions de la souris */
            color: gray;           /* Optionnel : Changer la couleur pour indiquer que c'est désactivé */
            text-decoration: none; /* Optionnel : Enlever le soulignement */
            cursor: default;       /* Optionnel : Changer le curseur */
        }
        </style>
{% endblock %}

{% block body %}

    <div class="card bg-light-info shadow-none position-relative overflow-hidden">
        <div class="card-body px-4 py-3">
            <div class="row align-items-center">
                <div class="col-9">
                    <h4 class="fw-semibold mb-8">Journal de paiement de facture</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a class="text-muted" href="javascript:void(0)">Paiement de facture</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Liste</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
     <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-light"  id="id-paiement-liste">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th class="text-center">Boutique</th>
                                        <th class="text-center">RefTxFatourati</th>
                                        <th class="text-center">MontantTTC</th>
                                        <th class="text-center">Montant(&euro;)</th>
                						<th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for paiement in paiements %} 
                                        <tr>
                                            <td data-order="{{ paiement.dateAjout | date('Y-m-d H:i') }}">{{ paiement.dateAjout | date('d-m-Y') }}</td>
                                            <td class="text-center">{{paiement.boutique.nom}}</td>
                                            <td class="text-center">{{paiement.refTxFatourati}}</td>
                                            <td class="text-center"><b>{{paiement.montantTTC|number_format(2, '.', '')}} {{paiement.tauxChange.devise}}</b></td>
                                            <td class="text-center"><b>{{paiement.montantDevise|number_format(2, '.', '')}} &euro;</b></td>
                                            <td class="text-center">
                                                {% if paiement.annulation %}
                                                    <a class="btn btn-success btn-sm " href="javascript:void(0)">
                                                        <i class="ti ti-clock fs-5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="En cours d'annulation"></i>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-danger btn-sm " href="{{ path('annulation', {id: paiement.id}) }}">
                                                        Annuler
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
                    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('#id-paiement-liste').DataTable({
            language: { "url": global_utils.urls.datatable_fr },
            "order": [[0, "desc"]],
        });

    </script>
{% endblock %}
